body {
    margin: 0;
    padding: 0;
    background-color: #fccf06;
}

.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.left-side {
    width: 50vw;
    background-color: #fccf06;
}

.right-side {
    width: 50vw;
    background-color: white;
}

h2 {
    margin-top: 250px;
    margin-left: 40px;
}

button {
    /* padding-left: 40px; */
    margin-top: 30px;
    border-radius: 2.7rem;
}

.button1 {
    width: 9cm;
    height: 2.5rem;
    margin-left: 40px;
    color: white;
    background-color: #fccf06;
    border-color: #fccf06;
}

.button2 {
    width: 9cm;
    height: 2.5rem;
    margin-left: 40px;
    color: #fccf06;
    border-color: #fccf06;
}